<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="signup-form">
              <form action="" class="mt-5 border p-4 bg-light shadow" [hidden]="loading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h4 class="mb-5 text-secondary">Log in</h4>
                  <div class="row">
                      <div class="mb-3 col-md-6">
                          <label>User Name<span class="text-danger">*</span></label>
                          <input formControlName="username" type="text" name="user" class="form-control" placeholder="Enter User Name" required>
                          <span class="text-danger" *ngIf="loginForm.get('username')?.errors && loginForm.get('username')?.hasError('required')">Username is required</span>
                      </div>
                      <div class="mb-3 col-md-12">
                          <label>Password<span class="text-danger">*</span></label>
                          <input formControlName="password" type="password" name="password" class="form-control" placeholder="Enter Password" required>
                          <span class="text-danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.hasError('required')">Password is required</span>
                      </div>
                      <div class="col-md-12">
                         <button class="btn btn-primary float-end" [disabled]="!loginForm.valid">Login</button>
                      </div>
                  </div>
              </form>
              <p class="text-center mt-3 text-secondary">If you don't have account, please <a href="/signup">Register</a></p>
          </div>
          <p-progressSpinner *ngIf="loading"></p-progressSpinner>
      </div>
  </div>
</div>
